AddDefaultCharset UTF-8
DirectoryIndex index.php

Header unset Content-Security-Policy
#Add the entire CSP key value pairs that you want below is just default-src
Header add Content-Security-Policy "default-src 'self'"
#This opens support to older browsers that support X-Content-Security-Policy but not Content-Security-Policy
Header unset X-Content-Security-Policy
Header add X-Content-Security-Policy "default-src 'self'"
#This opens support to older browsers that support X-WebKit-CSP but not Content-Security-Policy
Header unset X-WebKit-CSP
Header add X-WebKit-CSP "default-src 'self'"

#These headers are also helpful in increasing security
Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "DENY"
Header set Strict-Transport-Security "max-age=631138519; includeSubDomains"

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^check-login$							login.inc.php [QSA]
RewriteRule ^page-(.*)-(.*)$						app.php?mode=$1&id=$2 [QSA]
RewriteRule ^page-(.*)$								app.php?mode=$1 [QSA]
RewriteRule ^module/(.*)/(.*)-print$		       module/$1/$2.print.php [QSA]
RewriteRule ^module/(.*)/(.*)-print/(.*)/(.*)$		       module/$1/$2.print.php?mod=$2&start_date=$3&end_date=$4 [QSA]
RewriteRule ^module/(.*)/(.*)-(.*)-(.*)$		           module/$1/$2.inc.php?mode=$3&mod=$2&table=$4 [QSA]
RewriteRule ^module/(.*)/(.*)-(.*)$		           module/$1/$2.inc.php?mode=$3&mod=$2 [QSA]

</IfModule>

